<div class="container mt-5">
  <div class="d-flex justify-content-start">
    <h1 class="pt-5">Add a new animal:</h1>
  </div>

  <br>

  <div>
    <%= simple_form_for(@animal) do |f| %>
      <%= f.input :name, label: 'Name' %>
      <%= f.input :category, label: 'Category', collection: ['dog', 'cat', 'other'] %>
      <%= f.input :birth_date, label: 'Birth Date'  %>
      <%= f.input :photo, as: :file %>
      <div class="mb-5">
        <%= f.submit 'Add', class: 'btn btn-primary' %>
        <%= link_to "Back to animals list", animals_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>

</div>
