<div class="mt-4">
  <div class="d-flex justify-content-center">
    <h1 class="mt-5 border-bottom">Animal's Details</h1>
  </div>

<br>

  <div class="d-flex justify-content-center">
    <div>
      <% if @animal.photo.present? %>
        <%= cl_image_tag @animal.photo.key, crop: :fill, class: "animal-photo" %>
      <% end %>
      <div class="d-flex justify-content-around flex-column mt-3 pb-3">
        <h2 class="border-bottom"><%= @animal.name.capitalize %></h2>
        <div class="row">
          <ul class="col-6">
            <li>Category: <%= @animal.category %></li>
            <li>Birth Date: <%= @animal.birth_date %></li>
          </ul>
          <div class="col-6">
            <%= link_to "Edit animal", edit_animal_path, class: "btn btn-primary" %>
            <%= link_to "Delete animal", animal_path(@animal), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
          </div>
        </div>
        <% if @animal.adoption.present? %>
          <div>
            <h3 class="border-bottom"> Owner: <%= @animal.adoption.owner_name %></h3>
            <ul>
              <li> <strong>Adoption Date:</strong> <%= @animal.adoption.created_at.strftime("%Y-%m-%d") %></li>
            </ul>
          </div>
        <% else %>
          <div>
            <%= render 'adoptions/new', animal: @animal, adoption: @adoption %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
